# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.hg/*
*.ncb
*.user
*.orig
PC_Twilight/Release/*
*.exe
*.pdb
*.pch
Release/data/quicksaveCopy.tws
*.rar
*.cd
*.twr
*.tws
